/*
 * {{properCase name}}
 */

import { {{properCase name}}Props } from './types'

const {{properCase name}} = (props: {{properCase name}}Props) => {
  return <div></div>
}

export default {{properCase name}}
{{properCase name}}.displayName = {{properCase name}};